**/node_modules/
backend/vendor/
backend/.env
.env
frontend/dist/
backend/public/assets/
backend/public/index.html
backend/bootstrap/cache/*.php
backend/storage/logs/*
!backend/storage/logs/.gitkeep
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitkeep
backend/storage/framework/views/*
!backend/storage/framework/views/.gitkeep
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitkeep
*.sqlite
*.sqlite-*
.sites-runtime/
